In [16]:
import re
contents = []
def get_account(file):
    pattern = "register/check/account/.*/gameid/\\d{3}"
    try:
        i=0
        with open(file,"r") as f:
            for line in f.read().split("\n"):
                i+=1
                print(i)
                res = re.search(pattern,line)
                if res:
                    data = res.group(0).split("/")
                    #print(data)
                    contents.append({data[2]:data[3],data[4]:data[5]})
                else:
                    print(res,line)
    except Exception as e:
        print(e)
    else:
        print(i)

In [17]:
file = "/usr/local/nginx/htdocs/goaccess/0528/account.log"

In [49]:
#get_account(file)

In [48]:
#contents

In [24]:
accounts={}
gameids = {}
for content in contents:
    account,gameid = content['account'],content['gameid']
    accounts[account] = accounts.get(account,0)+1
    gameids[gameid] = gameids.get(gameid,0)+1

In [31]:
new_accounts = list(accounts.items())

In [32]:
new_accounts.sort(key=lambda x:x[1],reverse=True)

In [47]:
'''
with open("account.txt","a+") as f:
    j = 0
    for key,v in new_accounts:
        j+=1
        f.write(key+","+str(v)+"\n")
        print(j)
        #print(key,v)
'''

'\nwith open("account.txt","a+") as f:\n    j = 0\n    for key,v in new_accounts:\n        j+=1\n        f.write(key+","+str(v)+"\n")\n        print(j)\n        #print(key,v)\n'

In [46]:
#new_accounts

In [35]:
import pandas

In [38]:
df = pandas.DataFrame(new_accounts)
df.head()

                  0   1
0              mail  25
1  kevinyiboyuntian  15
2               lyf  15
3             lzxcn  14
4              mmmm  12

In [41]:
df.to_excel('acc.xlsx',encoding='utf8')

In [42]:
import sqlite3
with sqlite3.connect('news.sqlite') as db:
    df.to_sql('account',con=db,if_exists='append')

In [52]:
gameids
with open("gameid.txt","a+") as f:
    for key,v in gameids.items():
        f.write(str(key)+","+str(v)+"\n")
        print(key,v)

100 2432062
800 715
400 158
600 28
820 1

In [44]:
len(new_accounts)

2077252